{% extends "orka/baselayout.html" %}
{% import 'orka/general/lib.html' as lib %}
{% block body %}
<body class="hold-transition register-page">
<div class="register-box">
    <div class="row">
        <div class="register-logo">
            <a href="/"><b>O</b>rka</a>
        </div>
        <div class="register-box-body">
            {% block edit_form %}
                <div class="login-box-msg">
                    {{ widgets.get('edit')(form_action=form_action)|safe }}
                </div>
            {% endblock %}
        </div>

    {% if related_views %}
    {% endif %}
    <a href="" class="text-center">{{ _("I already have a membership") }}I already have a membership</a>
    </div>
</div>
</body>
{% endblock %}

{% block tail_js %}
{{ super() }}
{% endblock %}