{% extends "orka/base.html" %}
{% import 'orka/general/lib.html' as lib %}

{% block content %}

{{ lib.panel_begin(title) }}
    {% block list_list scoped %}
        {% for view_widget in views_widgets %}
            <div>
            {% call lib.accordion_tag(views[loop.index - 1].__class__.__name__,views[loop.index - 1].title, True) %}
                {{ view_widget()|safe }}
            {% endcall %}
            </div>
        {% endfor %}
    {% endblock %}
{{ lib.panel_end() }}

{% endblock %}
{% block add_tail_js %}
    {{ super() }}
    <script src="{{url_for('appbuilder.static',filename='js/ab_keep_tab.js')}}"></script>
{% endblock %}