{% extends 'orka/init.html' %}
{#{% import 'orka/baselib.html' as baselib %}#}

{% if not current_user.is_anonymous() %}
{% block body %}
<body class="skin-blue sidebar-mini wysihtml5-supported">
    {% include 'appbuilder/general/confirm.html' %}
    {% include 'appbuilder/general/alert.html' %}
<div class="wrapper">

    {% block navbar %}
        {% include 'orka/navbar.html' %} {# NAVBAR concluida!! #}
    {% endblock %}

    {% include 'orka/sidebar.html' %}
    <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Dashboard
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>
        <section class="content">
            {% block messages %}
                {% include 'orka/flash.html' %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </section>
    </div>
    {% block footer %}
        {% include 'orka/footer.html' %}
    {% endblock %}
</div>
</body>
{% endblock %}
{% endif %}


{#    <div class=" {% if not current_user.is_anonymous() %} col-sm-9  col-lg-10 col-sm-offset-3 col-lg-offset-2 main {% else %} {% endif %}">#}
{#        {% if not current_user.is_anonymous() %}#}
{#            <div class="row" style="padding: 15px !important;">#}
{#                <ol class="breadcrumb">#}
{#                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>#}
{#                    <li class="active">{{ title }}</li>#}
{#                </ol>#}
{#            </div><!--/.row-->#}
{#        {% endif %}#}
{##}
{#    </div>#}