{% import 'orka/general/lib.html' as lib%}

{% if not current_user.is_anonymous() %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Seviços</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class=" ion-chevron-down"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {% for item in services %}
                {{ lib.render_list_service(item) }}
            {% endfor %}
        </div>
        <!-- ./box-body -->
        <div class="box-footer" style="display: block;">
            {#                <div class="row">#}
            {#                    <div class="col-sm-3 col-xs-6">#}
            {#                        <div class="description-block border-right">#}
            {#                            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>#}
            {#                            <h5 class="description-header">$35,210.43</h5>#}
            {#                            <span class="description-text">TOTAL REVENUE</span>#}
            {#                        </div>#}
            {#                        <!-- /.description-block -->#}
            {#                    </div>#}
            {#                    <!-- /.col -->#}
            {#                </div>#}
            <!-- /.row -->
        </div>
        <!-- /.box-footer -->
        <!-- /.row -->
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Conteineres</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="ion-chevron-down"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {% for item in containers %}
                {{ lib.render_list_container(item) }}
            {% endfor %}
        </div>
        <!-- ./box-body -->
        <div class="box-footer" style="display: block;">
            {#                <div class="row">#}
            {#                    <div class="col-sm-3 col-xs-6">#}
            {#                        <div class="description-block border-right">#}
            {#                            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>#}
            {#                            <h5 class="description-header">$35,210.43</h5>#}
            {#                            <span class="description-text">TOTAL REVENUE</span>#}
            {#                        </div>#}
            {#                        <!-- /.description-block -->#}
            {#                    </div>#}
            {#                    <!-- /.col -->#}
            {#                </div>#}
            <!-- /.row -->
        </div>
        <!-- /.box-footer -->
        <!-- /.row -->
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Nós</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="ion-chevron-down"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-log-in"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Container_NAME</span>
                    <span class="info-box-number">92,050</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 20%"></div>
                    </div>
                  <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-log-in"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Container_NAME</span>
                    <span class="info-box-number">92,050</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 20%"></div>
                    </div>
                  <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-log-in"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Container_NAME</span>
                    <span class="info-box-number">92,050</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 20%"></div>
                    </div>
                  <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-log-in"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Container_NAME</span>
                    <span class="info-box-number">92,050</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 20%"></div>
                    </div>
                  <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <!-- ./box-body -->
        <div class="box-footer" style="display: block;">
            {#                <div class="row">#}
            {#                    <div class="col-sm-3 col-xs-6">#}
            {#                        <div class="description-block border-right">#}
            {#                            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>#}
            {#                            <h5 class="description-header">$35,210.43</h5>#}
            {#                            <span class="description-text">TOTAL REVENUE</span>#}
            {#                        </div>#}
            {#                        <!-- /.description-block -->#}
            {#                    </div>#}
            {#                    <!-- /.col -->#}
            {#                </div>#}
            <!-- /.row -->
        </div>
        <!-- /.box-footer -->
        <!-- /.row -->
    </div>
{% endif %}