{% set menu = appbuilder.menu %}
{% set languages = appbuilder.languages %}

<nav class="navbar {{menu.extra_classes}} navbar-fixed-top" style="border-radius: 0 !important;" role="navigation">
   <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if appbuilder.app_icon %}
                  <a class="" style="position: absolute" href="{{appbuilder.get_url_for_index}}">
                  <img style="max-height: 44px; padding-top:6px;padding-left: 28%;" src="{{appbuilder.app_icon}}" >
                  </a>
            {% else %}
                <span class="navbar-brand">
                <a href="{{appbuilder.get_url_for_index}}">
                {{ appbuilder.app_name }}
                </a>
                </span>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% include 'orka/navbar_right.html' %}
            </ul>
        </div>
   </div>
</nav>
