{% set menu = appbuilder.menu %}
{% set languages = appbuilder.languages %}

{% if not current_user.is_anonymous() %}
<aside class="main-sidebar">
    <!-- Sidebar user panel -->
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ g.user.photo_url() }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info" style="margin: auto; padding-top: 1em;">
                <p>{{current_user.get_full_name()}}</p>
{#                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>#}
            </div>
        </div>
        <!-- TODO: Tela de Busca de Containeres e etc -->
        <form action="search" method="post" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder={{ _("Search...") }}>
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            {% include 'orka/sidebar_menu.html' %}
        </ul>
    </section>
</aside>
{% endif %}

