<div id="usage" onload="loadUsage()" class="box ">
    <div class="box-header with-border">
        <h3 class="box-title">{{ _("System Comsumption") }}</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div></div>
        <div class="chart">
            <canvas id="usageChart" style="height: 230px; width: 511px;" height="230" width="511"></canvas>
        </div>
        <ul class="chart-legend clearfix">
            <li><i class="fa fa-circle-o text-red"></i> In use</li>
            <li><i class="fa fa-circle-o text-green"></i> Available</li>
        </ul>
        <div class="chart-legend clearfix">
            <i class="fa fa-circle-o text-gray"></i> Totais:
            <div class="pull-right">
                <p>Disk: <p id="disktotal"></p><p>
                <p>Memory: <p id="c"></p><p>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<script type="text/javascript">
    var chartData;
    setTimeout(function loadChart() {
        //-------------
        //- BAR CHART -
        //-------------
        var areaChartData = {
            labels: ["CPU", "Disk", "Memory"],
            datasets: [
                {
                    label: "In use",
                    fillColor: "rgba(210, 214, 222, 1)",
                    strokeColor: "rgba(210, 214, 222, 1)",
                    pointColor: "rgba(210, 214, 222, 1)",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [chartData['cpu']['used'], chartData['disk']['used'], chartData['ram']['used']]
                },
                {
                    label: "Available",
                    fillColor: "rgba(60,141,188,0.9)",
                    strokeColor: "rgba(60,141,188,0.8)",
                    pointColor: "#3b8bba",
                    pointStrokeColor: "rgba(60,141,188,1)",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(60,141,188,1)",
                    data: [chartData['cpu']['available'], chartData['disk']['available'], chartData['ram']['available']]
                }
            ]
        };
        var barChartCanvas = $("#usageChart").get(0).getContext("2d");
        var barChart = new Chart(barChartCanvas);
        var barChartData = areaChartData;
        barChartData.datasets[1].fillColor = '#00a65a';
        barChartData.datasets[1].strokeColor = '#00a65a';
        barChartData.datasets[1].pointColor = '#00a65a';

        var barChartOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 2,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //String - A legend template
            {#        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",#}
            //Boolean - whether to make the chart responsive
            responsive: true,
            maintainAspectRatio: true
        };

        barChartOptions.datasetFill = false;
        barChart.Bar(barChartData, barChartOptions);
    },2500)
    $(function () {
        setInterval(function loadUsage() {
            $.ajax('/usage',{
                url: 'localhost:8080/usage',
                type: 'GET',
                contentType: 'application/json',
                success: function (data, textStatus, jqXHR) {
                    chartData = data;
                    console.log(chartData);
                    console.log(chartData['cpu']['available']);
                    console.log(chartData['ram']['available']);
                    console.log(chartData['disk']['available']);

                },error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown)
                }
            });
        },5000)}
    );
</script>