<div id="usage" class="box">
    <div class="box-header with-border">
        <h3 class="box-title">{{ _("System Comsumption") }}</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div style="display:inline;width:120px;height:120px;">
                <canvas width="120" height="120"></canvas>
                <input id="" type="text" class="knob knob-cpu" readonly="readonly" data-thickness="0.2" data-anglearc="250" data-angleoffset="-125" value="0" data-width="120" data-height="120" data-fgcolor="#00c0ef" style="width: 64px; height: 40px; position: absolute; vertical-align: middle; margin-top: 40px; margin-left: -92px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 24px; line-height: normal; font-family: Arial; text-align: center; color: rgb(0, 192, 239); padding: 0px; -webkit-appearance: none;">
            </div>
        </div>
        <div class="row">
            <div style="display:inline;width:120px;height:120px;">
                <div class="knob-label"><strong>RAM</strong></div>
                <canvas width="120" height="120"></canvas>
                <input id="" type="text" class="knob knob-ram" readonly="readonly" data-thickness="0.2" data-anglearc="250" data-angleoffset="-125" value="0" data-width="120" data-height="120" data-fgcolor="#00c0ef" style="width: 64px; height: 40px; position: absolute; vertical-align: middle; margin-top: 40px; margin-left: -92px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 24px; line-height: normal; font-family: Arial; text-align: center; color: rgb(0, 192, 239); padding: 0px; -webkit-appearance: none;">
            </div>
        </div>
        <div class="row">
            <div style="display:inline;width:120px;height:120px;">
                <div class="knob-label"><strong>Disk</strong></div>
                <canvas width="120" height="120"></canvas>
                <input id="cpu-knob" type="text" class="knob knob-disk" readonly="readonly" data-thickness="0.2" data-anglearc="250" data-angleoffset="-125" value="0" data-width="120" data-height="120" data-fgcolor="#00c0ef" style="width: 64px; height: 40px; position: absolute; vertical-align: middle; margin-top: 40px; margin-left: -92px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 24px; line-height: normal; font-family: Arial; text-align: center; color: rgb(0, 192, 239); padding: 0px; -webkit-appearance: none;">
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>

<script>
    $(function () {
        /* jQueryKnob */

        var chartData;

        setInterval(function loadUsage() {
            $.ajax('/usage',{
                url: '{{ url_root }}/usage',
                type: 'GET',
                contentType: 'application/json',
                success: function (data, textStatus, jqXHR) {
                    $('input.knob-cpu').val(data['cpu']).trigger('change');
                    $('input.knob-ram').val(data['ram']).trigger('change');
                    $('input.knob-disk').val(data['disk']).trigger('change');
                },error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown)
                }
            });
        },3000);

        $(".knob").knob({
            change : function (value) {
             console.log("change : " + value);
             },
{#             release : function (value) {#}
{#             console.log("release : " + value);#}
{#             },#}
{#             cancel : function () {#}
{#             console.log("cancel : " + this.value);#}
{#             },#}
            draw: function () {
                // "tron" case
                if (this.$.data('skin') == 'tron') {
                    var a = this.angle(this.cv)  // Angle
                            , sa = this.startAngle          // Previous start angle
                            , sat = this.startAngle         // Start angle
                            , ea                            // Previous end angle
                            , eat = sat + a                 // End angle
                            , r = true;

                    this.g.lineWidth = this.lineWidth;

                    this.o.cursor
                    && (sat = eat - 0.3)
                    && (eat = eat + 0.3);

                    if (this.o.displayPrevious) {
                        ea = this.startAngle + this.angle(this.value);
                        this.o.cursor
                        && (sa = ea - 0.3)
                        && (ea = ea + 0.3);
                        this.g.beginPath();
                        this.g.strokeStyle = this.previousColor;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
                        this.g.stroke();
                    }

                    this.g.beginPath();
                    this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
                    this.g.stroke();

                    this.g.lineWidth = 2;
                    this.g.beginPath();
                    this.g.strokeStyle = this.o.fgColor;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                    this.g.stroke();

                    return false;
                }
            }
        });
        /* END JQUERY KNOB */
    });
</script>